table {
    width: 100%;
    background-color:ivory;
  }

.mat-form-field {
   font-size:  12px;
   width: 100%;
   background-color: khaki;
 }

 .icon-display {
  transform: scale(0.8);
}

.mat-icon-button {
  font-size: 12px;
}